@{
    ViewData["Title"] = "Home Page";
}
@model List<string>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<ul>
    @foreach(string ns in (List<string>)TempData["names"])
        {
            <li>@ns</li>
        }
</ul>

<a asp-action="Privacy">Click</a>