@model IEnumerable<CTSTempDataDemo.Models.Product>

<table>
    <thead>
        <tr>
            <th>ProductID</th>
            <th>ProductName</th>
            <th>Price</th>
            <th>Category</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>@item.Price</td>
                <td>@item.Category</td>
            </tr>
        }
    </tbody>
</table>
<a asp-action="TempdataMthd">Click Here</a>